# Azure Functions
local.settings.json

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio
.vs/
*.user
*.suo

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# JetBrains Rider
.idea/
*.sln.iml
